@charset "UTF-8";


:root{
    --cor1: #0D1B2A;
    --cor2: #1B263B;
    --cor3: #415A77;
    --cor4: #778DA9;
    --cor5: #E0E1DD;
}

nav{
    /* background-color: var(--cor1); */
    text-align: right;
    margin-right: 120px;
    margin-top: 30px;
}

nav a{
    color: var(--cor5);
    margin: 15px;
    font-size: 18px;
}

body{
    /* background-color: var(--cor1); */
    /* background: black url("video/video3.mp4") center top / cover no-repeat fixed; */

    
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0%;
    padding: 0%;
    width: 100%;
    max-width: none;
    overflow-x: hidden;
}

header {
    color: white;
}

header div > p{
  font-size: 20px;
  font-weight: bold;
}


.apresentacao {
  display: flex;
  justify-content: center;
  gap: 50px; 
 
}

.texto{
    margin-left: -35%;
    margin-top: 15%;
}

.foto{
    padding-left: 60%;
    margin-top: -19%;
}

article.sobre{
    /* background-color: var(--cor1); */
    width: 100;
    margin: 0%;
    padding: 0%;
}

.sobre{
    width: 100%;
}

.sobre h1{
    width: 100%;
    margin: 0%;
    padding-top: 150px;
    padding-left: 20%;
    text-align: left;
}

article p {
  max-width: 600px;       /* Limita a largura do texto para ficar compacto */
  margin: 0 0 0 0px;  /* top right bottom left */
  text-align: left;        /* Deixa o texto alinhado à esquerda */
  padding: 20px 15px 10px 15px;      /* Espaçamento interno confortável */
  
}
.display{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.h1-tecno{
    width: 100%;
    padding-top: 105px;
    padding-bottom: 100px;
    padding-left: 20%;
}

.img-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    padding: 0px 50px;
    
}



.img-icon {
  height: 155px;
  width: auto;
}



#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

h1.proj{
    width: 100%;
    padding-top: 105px;
    padding-bottom: 100px;
    padding-left: 20%;
}



.blocos{
    margin-left: 21%;
    display: inline-flex ;
    gap: 50px;
   
    
}

.bloco1, .bloco2, .bloco3{
    
    border: 3px solid white;
    border-radius: 10px;
    width: 290px;
    height: 450px;
}

.bloco1{
    /* background-color: black;
    background-image: url("imagens/proj-android-260.jpeg");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll; */

    background: black url("imagens/proj-android-260.jpeg") center top / contain no-repeat scroll;
}


.bloco2{
    
    /* background-color: black;
    background-image: url("imagens/loja-cards-260.jpeg");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll; */

    background: black url("imagens/loja-cards-260.jpeg") center top / contain no-repeat scroll;
}


div.discricao{
    margin-top: 60%;
    text-align: justify;
    padding: 5px 5px 0px 10px;
}

div.text-card{
   
    text-align: left;
    text-indent: 20px;
    padding: 0px 10px 0px 10px;
    margin-top: 30px;
}



img.img-html{
    margin: 50px 50px 0px 30px;
    width: 40px;
}

img.img-css{
    /* margin-right: 20px; */
    
    
   width: 40px;
}

img.img-js{
    margin: 0px 0px 0px 50px;
   width: 40px;
}


div.conj-img{
   align-items: center;
}